{% extends 'base_dashboard.html' %}
{% block content %}
<div class="container mt-4">
    <h4>Profile Settings</h4>

    {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{{ profile.profile_image.url }}"
                     class="rounded-circle mb-3"
                     width="120" height="120">

                <input type="file" name="profile_image"
                       class="form-control">
            </div>

            <div class="col-md-8">
                <div class="row mb-2">
                    <div class="col">
                        <input type="text" name="first_name"
                               class="form-control"
                               value="{{ user.first_name }}"
                               placeholder="First Name">
                    </div>
                    <div class="col">
                        <input type="text" name="last_name"
                               class="form-control"
                               value="{{ user.last_name }}"
                               placeholder="Last Name">
                    </div>
                </div>

                <input type="email" name="email"
                       class="form-control mb-2"
                       value="{{ user.email }}"
                       placeholder="Email">

                <input type="text" name="phone"
                       class="form-control mb-2"
                       value="{{ profile.phone }}"
                       placeholder="Phone">

                <textarea name="bio" class="form-control mb-2"
                          placeholder="About you">{{ profile.bio }}</textarea>

                <button class="btn btn-primary">
                    Save Changes
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}