<div class="modal fade" id="signupModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create an Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form id="signupForm" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label>Full Name</label>
                        <input type="text" class="form-control" placeholder="Enter your name" name="name">
                    </div>

                    <div class="mb-3">
                        <label>Email Address</label>
                        <input type="email" class="form-control" placeholder="Enter email" name="email">
                    </div>

                    <div class="mb-3">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Enter Username" name="username">
                    </div>

                    <div class="mb-3">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Choose password" name="password">
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Sign Up
                    </button>
                </form>
            </div>

            <div class="modal-footer justify-content-center">
                <p class="mb-0">
                    Already have an account?
                    <a href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal">
                        Login
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login to Your Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form id="loginForm" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Enter email" name="username">
                    </div>

                    <div class="mb-3">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Enter password" name="password">
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <div>
                            <input type="checkbox"> Remember me
                        </div>
                        <a href="#" class="text-primary">Forgot Password?</a>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Login
                    </button>
                </form>
            </div>

            <div class="modal-footer justify-content-center">
                <p class="mb-0">
                    Don’t have an account?
                    <a href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#signupModal">
    
                        Sign Up
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="forgotPasswordModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Forgot Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <p class="mb-3 text-muted">
                    Enter your registered email address. We will send you a link to reset your password.
                </p>

                <form>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label>Email Address</label>
                        <input type="email" class="form-control" placeholder="Enter your email" name="email">
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Send Reset Link
                    </button>
                </form>
            </div>

            <div class="modal-footer justify-content-center">
                <a href="#" 
                   data-bs-dismiss="modal" 
                   data-bs-toggle="modal" 
                   data-bs-target="#loginModal">
                    Back to Login
                </a>
            </div>
        </div>
    </div>
</div>
